{% extends 'base.html.twig' %}

{% block body %}
    {% include 'menu.html.twig' %}
    <br>
    <div class="container">
        <h1>Modifier la classe</h1>

        {{ include('classe/_form.html.twig', {'button_label': 'Update'}) }}
        <br>
        <a href="{{ path('classe_index') }}" class="btn btn-primary">Retour</a>
    </div>


{% endblock %}
