<form method="post" action="{{ path('carnet_de_correspondance_delete', {'id': carnet_de_correspondance.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ carnet_de_correspondance.id) }}">
    <button class="btn">Delete</button>
</form>
