{% extends 'base.html.twig' %}

{% block title %}CarnetDeCorrespondance{% endblock %}

{% block body %}
    {% include 'menu.html.twig' %}
    <br>
    <div class="container">
        <h1>Carnet de correspondance</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carnet_de_correspondance.id }}</td>
            </tr>
            </tbody>
        </table>

        <table>
            <tr>
                <th>Type</th>
                <th>Contenu</th>
            </tr>
            {% for objet in carnet_de_correspondance.objetCarnets %}

                <tr>
                    <td>
                        {{ objet.type }}
                    </td>
                    <td>
                        {{ objet.contenu }}
                    </td>
                </tr>

            {% endfor %}
        </table>
    </div>
{% endblock %}
