{% extends 'base.html.twig' %}


{% block body %}
    {% include 'menu.html.twig' %}
    <br>
    <div class="container">
        <h1>Envoyer un message</h1>

        Envoyeur : {{ message.envoyeur }}
        {{ include('message/_form.html.twig') }}
        <br>
        <a href="{{ path('message_index', {'id':idUser}) }}" class="btn btn-primary">Retour</a>
    </div>

{% endblock %}
