{% extends 'base.html.twig' %}

{% block body %}
    {% include 'menu.html.twig' %}
    <div class="container">
        <h1>Inscrire mon enfant</h1>

        {{ include('enfant/_form.html.twig') }}

    </div>

{% endblock %}
